{% extends 'themes/base_admin.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block description %}Nouvel article{% endblock %}

{% block keywords %}admin, article{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nouvel article</h1>

{% endblock %}