<h1>Bonjour</h1>

<p>Pour réinitialiser votre mot de passe cliquez sur le lien ci-dessous</p>

<a href="{{ url('visitor_authentication_reset_password', {token: resetToken.token}) }}">{{ url('visitor_authentication_reset_password', {token: resetToken.token}) }}</a>

<p> Ce lien va expirera dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>ciao ciao</p>
