{% extends "themes/base_visitor.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block description %}Les articles{% endblock %}

{% block keywords %}Articles{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Hello</h1>
{% endblock %}