{% extends "themes/base_visitor.html.twig" %}

{% block title %}En attente de la vérification de compte{% endblock %}

{% block description %}En attente de la vérification de compte{% endblock %}

{% block keywords %}email, verif{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto shadow text-center">
                <h1 class="my-3 display-5">En attente...</h1>
                <p>Un email vous a été envoyé pour la vérification de votre compte.</p>
            </div>
        </div>
    </div>
{% endblock %}